<!doctype html>
<html lang="ar">
  <head>
    <meta charset="utf-8">
  </head>
  <style>
    body {
      font-family: "IBM Plex Sans Arabic"
    }
  </style>
  <body style="margin: 0px;">

    <div style="text-align: center; display: flex; align-items: center; justify-content: space-between;" >
      <!-- Use the base64 string directly in the src attribute -->
      <div style="width: 290px; border: 1px solid #2e2e2e; height: 100px;">
        
      </div>
      <img src="data:image/png;base64,{{ data.image_base64 }}" width="100px" height="100px">
      <div style="width: 290px; border: 1px solid #2e2e2e; height: 100px;">
        <p>جامعة القاهرة الجديدة التكنولوجية</p>
        <p>كلية تكنولوجيا الصناعة</p>
        <p>والطاقه - ادارة الموارد البشرية</p>
      </div>
    </div>
    <hr>
    <div style="text-align: center;">
      <h3><u>طلب الاجازة</u></h3>
    </div>
    <br><br>

  </body>
</html>