{% extends "base.html" %}
{% block content %}
<body style="background-color: #f9fafb;" >
    <div style="margin: 0px 10px; direction: ltr;">

        <div class="container mt-5 profile" style="padding: 0px 30px;">
            <br>
            <div class="row">
                <div class="col-12 mb-4">
                    <h3 class="mb-3">HR Vacation Management</h3>
                    <p style="font-size: 18px;">This project aims to provide a web-based system that helps organizations manage employee vacation requests easily and efficiently. This system was developed by our team through a joint effort and careful supervision by our academic supervisors.</p>
                </div>
            </div>
            <br>
            <hr width="40%" style="margin: auto;">
            <br>
            <div class="row">
                <h2 class="mb-3">Supervisors</h2>

                <!-- Supervisors Section -->
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Dr. Amany Arafa</h5>
                            <p class="card-text">Acts as a project supervisor and contributes to guiding the team and achieving goals.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Eng. Eman Samy</h5>
                            <p class="card-text">Participates in project supervision and contributes to the development and improvement of the system.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <hr width="40%" style="margin: auto;">
            <br>
            <div class="row">
                <h2 class="mb-3">Team Members</h2>

                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Eslam Mohamed Dahy (Team Leader)</h5>
                            <h6 class="card-subtitle mb-3 text-muted mt-4"><b>Email:</b> eslamt159@gmail.com</h6>
                            <h6 class="card-subtitle text-muted"><b>Code:</b> 20220009</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Mazen Mohamed Salah</h5>
                            <h6 class="card-subtitle mb-3 text-muted mt-4"><b>Email:</b> mazonmohamed1357@gmail.com</h6>
                            <h6 class="card-subtitle text-muted"><b>Code:</b> 20220037</h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Ahmed Waheed Ismail</h5>
                            <h6 class="card-subtitle mb-3 text-muted mt-4"><b>Email:</b> Ahmedwaheed7000@gmail.com</h6>
                            <h6 class="card-subtitle text-muted"><b>Code:</b> 20220273</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Eslam Mohamed Atia</h5>
                            <h6 class="card-subtitle mb-3 text-muted mt-4"><b>Email:</b> eslam.mo.atia@gmail.com</h6>
                            <h6 class="card-subtitle text-muted"><b>Code:</b> 20220126</h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Mazen Hossam Ali</h5>
                            <h6 class="card-subtitle mb-3 text-muted mt-4"><b>Email:</b> Mazenfootballplayer505@gmail.com</h6>
                            <h6 class="card-subtitle text-muted"><b>Code:</b> 20220281</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Abdullah Ibrahim Abdullah</h5>
                            <h6 class="card-subtitle mb-3 text-muted mt-4"><b>Email:</b> abdullahebrahim@gmail.com</h6>
                            <h6 class="card-subtitle text-muted"><b>Code:</b> 20220270</h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Farouk Mohsen Adly</h5>
                            <h6 class="card-subtitle mb-3 text-muted mt-4"><b>Email:</b> faroukmohsen27@gmail.com</h6>
                            <h6 class="card-subtitle text-muted"><b>Code:</b> 20220011</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Ahmed Mohamed Atia</h5>
                            <h6 class="card-subtitle mb-3 text-muted mt-4"><b>Email:</b> ahmedmohvmed25@gmail.com</h6>
                            <h6 class="card-subtitle text-muted"><b>Code:</b> 20220619</h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Ahmed Salman Abdel Mohsen</h5>
                            <h6 class="card-subtitle mb-3 text-muted mt-4"><b>Email:</b> ahmed203salman@gmail.com</h6>
                            <h6 class="card-subtitle text-muted"><b>Code:</b> 20220039</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Ziad Ehab Abdel Hamid</h5>
                            <h6 class="card-subtitle mb-3 text-muted mt-4"><b>Email:</b> zozehab555@gmail.com</h6>
                            <h6 class="card-subtitle text-muted"><b>Code:</b> 20220041</h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Mohamed Mahmoud Kamal</h5>
                            <h6 class="card-subtitle mb-3 text-muted mt-4"><b>Email:</b> </h6>
                            <h6 class="card-subtitle text-muted"><b>Code:</b> 20210270</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <br>
    </div>
</body>
{% endblock content %}
